/**
* Website Name: Coco Labs Website
* Website URL: https://cocolabs.com.co/
* Author: Coco Labs S.A.S - 2024
*/

/* Fuente Fira Code Bold */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');

/* Fuente MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.multi-line-highlight {
    position: relative;
    display: inline-block;
    padding: 0 0.25em;
}

.multi-line-highlight::before {
    content: "";
    position: absolute;
    inset: -0.15em -0.25em;
    background-color: rgb(225, 215, 201);
    transform: skew(-6deg);
    z-index: -1;
}

.highlight-blue {
    position: relative;
    display: inline-block;
    padding: 0 0.25em;
}

.highlight-blue::before {
    content: "";
    position: absolute;
    inset: -0.15em -0.25em;
    background-color: #A4D7DC;
    transform: skew(-6deg);
    z-index: 1;
}

.highlight-blue>span {
    position: relative;
    z-index: 2;
}